<%- include('../includes/labs.head.ejs') %>
<body>
    <section class="section">
        <div class="container is-fullhd">
            <h1 class="title is-1-desktop">Tienda</h1>
            <div class = "box">
                <h1 class="title is-1-desktop">Lab6: Tienda</h1>
                <br>
                <div id="productos"></div>
                <% for (let papas of Producto) { %>
                    <div class="product-card">
                        <img src="<%= papas.imagen %>" alt="<%= papas.nombre %>">
                    </div>
                    <button id="boton_papas" class="button is-danger is-rounded">Precio</button>
                    <hr>
                    <button id="boton_seleccion1" class="button is-danger is-rounded">Seleccionar papas</button>
                    <hr>
                    <box id="precio_papas">...</box>
                    <hr>
                <% } %>
                <div id="refrescos"></div>
                <hr>
                <button id="boton_refresco" class="button is-danger is-rounded">Precio</button>
                <hr>
                <box id="precio_refrescos">...</box> 
                <hr>
                <button id="boton_seleccion2" class="button is-danger is-rounded">Seleccionar refrescos</button>
                <hr>
            </div>
        </div>
    </section>
    
</body>
<%- include('../includes/labs.foot.ejs') %>
</html>