
<%- include('../includes/labs.head.ejs') %>
<input type="hidden" name="_csrf" value="<%= csrfToken %>" >
<body>
    <section class="section has-background-black-bis has-text-grey-light">
        <div class="container">
            <article>
                <h1 class="title is-4">About Me</h1>
                <div class="box has-background-white-bis">
                    <figure class="image is-128x128">
                        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/846c6a5d-d831-4435-905a-21c59894f7ef/dgcw66-ccf0ba24-a325-42b6-ad6b-4002a4398c2b.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzg0NmM2YTVkLWQ4MzEtNDQzNS05MDVhLTIxYzU5ODk0ZjdlZlwvZGdjdzY2LWNjZjBiYTI0LWEzMjUtNDJiNi1hZDZiLTQwMDJhNDM5OGMyYi5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.mWTCOzRxeXZOVxCR243g6dlSUbGolaVDocNfblhwu9Q"
                            alt="Pumas">
                    </figure>
                
                        <br>
                
                        <p>Soy Emiliano Pomar. Nací en CDMX pero llevo mucho tiempo viviendo en Querétaro. Mis intereses más fuertes son la música y el cine. Actualmente curso el 4to semestre de ingeniería en tecnologías computacionales.</p>
                        <br>
                        <div class="contacto">
                            <ul>
                                <li><b>Correo:</b> A01709338@tec.mx</li>
                                <li><b>WhatsApp:</b> 4425707090</li>
                            </ul>
                        </div>
                        <br>
                        <hr>
                    </div>

                <div class="content">
                    <h1 class="subtitle">Preguntas Lab 1</h1>
                    <hr>

                    <div class="question">
                        <h3 class="title is-4">¿Cuál es la diferencia entre Internet y la World Wide Web?</h3>
                        <p>El internet se refiere a una red de conexiones que tienen las computadoras alrededor del mundo. El internet es el medio. Y la World Wide Web es un sistema que se utiliza para gestionar la información en internet utilizando direcciones URL y protocolos como HTTP. La red que funciona en internet.</p>
                    </div>
                    <br>

                    <div class="question">
                        <h1 class="title is-4">¿Cuáles son las partes de un URL?</h1>
                        <p>
                            <b>Protocolo de comunicación:</b> comúnmente http y https.<br>
                            <b>Dominio:</b> identificador de dirección de la computadora donde nos estamos conectando.<br>
                            <b>Path/directorio:</b> muestra dónde está ubicada la fuente.<br>
                            <b>Variables:</b> se pueden poner variables al final del URL y darles valor con signos =?+. Se puede definir el query cuando buscas algo en Google, por ejemplo.
                        </p>
                    </div>
                    <br>

                    <div class="question">
                        <h3 class="title is-4">¿Cuál es el propósito de los métodos HTTP: GET, HEAD, POST, PUT, PATCH, DELETE?</h3>
                        <p>
                            <b>GET:</b> Se utiliza para pedir información de la fuente sin que esta esté alterada. Lo utiliza un navegador cada vez que ponemos una ruta, es mandar una petición HTTP para obtener información. Todos los hipervínculos hacen peticiones tipo GET.

                            <b>HEAD:</b> Es como usar GET pero solo para pedir la parte de “head” sin que regrese algo del “body”.

                            <b>POST:</b> Se utiliza para mandar información a un servidor. Con HTTPS va con el head normal y el body cifrado.

                            <b>PUT:</b> Se utiliza para editar el contenido en la fuente o resource desde el body.

                            <b>PATCH:</b> Se utiliza para aplicar modificaciones parciales o que van a corregir algo.

                            <b>DELETE:</b> Al utilizarlo, se elimina el resource.
                        </p>
                    </div>
<br>
                    <div class="question">
                        <h3 class="title is-4">¿Qué método HTTP se debe utilizar al enviar un formulario HTML, por ejemplo cuando ingresas tu usuario y contraseña en algún sitio? ¿Por qué?</h3>
                        <p>El método get y post pueden utilizarse para mandar un formulario, pero es más recomendable utilizar post ya que get tiene limitaciones. Además de que Post manda lo que codifica a través del body encriptado y no aparece en la url. 
                        </p>
                    </div>

                    <div class="question">
                        <h3 class="title is-4">¿Qué método HTTP se utiliza cuando a través de un navegador web se accede a una página a través de un URL?</h3>
                        <p>Get.</p>
                    </div>
<br>
                    <div class="question">
                        <h3 class="title is-4">Un servidor web devuelve una respuesta HTTP con código 200. ¿Qué significa esto? ¿Ocurrió algún error?</h3>
                        <p>Indica una solicitud exitosa. En otras palabras, la página carga correctamente con texto, imágenes, etc. No ocurrió ningún error.</p>
                    </div>
<br>
                    <div class="question">¿Es responsabilidad del desarrollador corregir un sitio web si un usuario reporta que intentó acceder al sitio y se encontró con un error 404? ¿Por qué?
                    </div>
                    <p>Not Found. En algunos casos sí ya que puede ser que la página no existe porque el administrador modificó el url o lo transfirió, sin embargo la mayoría de las veces ocurre porque está mal escrito el url. Normalmente todos los códigos de 400 son responsabilidad o errores del cliente. </p>
                    <hr>
                    <div class="question">¿Es responsabilidad del desarrollador corregir un sitio web si un usuario reporta que intentó acceder al sitio y se encontró con un error 500? ¿Por qué?
                    </div>
                    <p>Es un error muy general del servidor que se da por una falla en el código y si es responsabilidad de los desarrolladores para encontrar el código y solucionarlo. Normalmente los errores de 500, son errores de servidor. </p>
                    <hr>
                    <div class="question">¿Qué significa que un atributo HTML5 esté depreciado o desaprobado (deprecated)? Menciona algunos elementos de HTML 4 que en HTML5 estén desaprobados.
                    </div>
                    <p>
                        Los atributos depreciados no se recomiendan según los estándares de html5 ya que son viejos y están siendo reemplazados por atributos nuevos que cumplen con la misma funcionalidad. En html 4 se utilizan letras como “i” para itálicas y “b” para bold. Pero en html 5 se introdujo la forma de semántica en el texto, así que con solo usar palabras como “b” se puede aplicar un bold a las palabras y además agregarle contexto para los demás lenguajes de programación con los que trabaja html. 
    
                    </p>
                    <hr>
                    <div class="question">¿Cuáles son las diferencias principales entre HTML 4 y HTML5?
                    </div>
                    <p>
                        HTML5 fue una actualización que introdujo soporte multimedia y mayor compatibilidad con los navegadores. Se dice que con HTML4 las páginas se podían romper fácilmente debido a las funciones ya obsoletas que no tenían semántica y no podían comunicarse bien con otros lenguajes de programación. 
                        Así que yo diría que la mayor diferencia es la mejora en compatibilidad que tiene HTML5 sobre HTML4 al introducir nuevos atributos y capacidades. 
                    </p>
                    <hr>
                    <div class="question">¿Qué componentes de estructura y estilo tiene una tabla?</div>
                    <p>
                        Se utiliza “table” para definir la tabla. 
                        Se utiliza “tr” para las filas.
                        Se le puede agregar un header con “th”.
                        El contenido de la tabla se agrega con “td” dentro de las “tr”.
                        Para agrandar una columna se utiliza “rowspan” y para hacer lo mismo con las columnas se utiliza “colspan” y se elige cuántas columnas o filas ocupará de espacio. 
                        Igual se pueden utilizar thead, tbody, y tfoot para agregar header body y pie de página a la tabla.
                    </p>
                    <hr>
                    <div class="question">¿Cuáles son los principales controles de una forma HTML5?</div>
                    <li>Casilla para seleccionar paleta de colores.</li>
                    <li>Casilla para seleccionar fecha y hora con formato.</li>
                    <li>Casilla para que el usuario rellene con formato de fecha y hora.</li>
                    <li>Casilla para rellenar con formato de correo electrónico, número entero, url. </li>
                    <li>Slider</li>
                    <li>Botón </li>
                    <hr>
                    <div class="question">¿Qué tanto soporte HTML5 tiene el navegador que utilizas? Puedes utilizar la siguiente página para descubrirlo: http://html5test.com/ (Al responder la pregunta recuerda poner el navegador que utilizas)
                    </div>
                    <p>Mi navegador Chrome sacó 476 de 555 puntos de compatibilidad del estándar de html5.</p>
                    <hr>
                    <div class="question">Sobre el ciclo de vida y desarrollo de los sistemas de información:</div>
                    <hr>
                    <div class="question">¿Cuál es el ciclo de vida de los sistemas de información?
                    </div>
                    <p>Planificación, Diseño, desarrollo, pruebas, implementación, pruebas, mantenimiento, fin de la vida útil y migración a una actualización. 
                        Al final tiene que ver con un ciclo general que describe la concepción de los sistemas hasta cómo son tratados al terminar su vida útil.
                    </p>
                    <hr>
                    <div class="question">¿Cuál es el ciclo de desarrollo de sistemas de información?</div>
                    <p>Hay distintos tipos de desarrollo. Hay iterativos, tradicionales como los de cascada, ágiles (para el análisis, desarrollo y pruebas de lo más importante). </p>
                    <hr>
                    <div class="question">Referencias: 
                    </div>
                    <p>
                        <li>Diferenciador. (2020). Diferencia entre internet y web. Diferenciador. https://www.diferenciador.com/diferencia-entre-internet-y-web/</li>
    
                        <li>Garzon, C. R. (2022). HTTP Request Methods – Get vs Put vs Post Explained with Code Examples. freeCodeCamp.org. https://www.freecodecamp.org/news/http-request-methods-explained/
                        </li>
                        <li>Aviani, G. (2019). An introduction to HTTP: everything you need to know. freeCodeCamp.org. https://www.freecodecamp.org/news/http-and-everything-you-need-to-know-about-it/</li>
                        
                        <li>Códigos de estado de respuesta HTTP - HTTP | MDN. (2022, November 26). https://developer.mozilla.org/es/docs/Web/HTTP/Status</li>
                        
                        <li>Copes, F. (2022). The HTML Handbook – Learn HTML for Beginners. freeCodeCamp.org. https://www.freecodecamp.org/news/the-html-handbook/#tables</li>
                        
                        <li>Nice, B. (2018, September 24). Beginner’s HTML Cheat Sheet - Level Up! - Medium. Medium. https://medium.com/level-up-web/beginners-html-cheat-sheet-f9b1e3ce88a6</li>
                        
                        <li>Métodos. (n.d.). https://diego.com.es/metodos-http</li>
                        
                        <li>Deprecated HTML tags. (n.d.). https://www.w3docs.com/learn-html/deprecated-html-tags.html</li>
                        
                        <li>Controles de formulario originales - Aprende desarrollo web | MDN. (n.d.). https://developer.mozilla.org/es/docs/Learn/Forms/Basic_native_form_controls</li>
    
                        <li> Barron, B. (2021). HTML vs HTML5: Conoce las diferencias cruciales entre ellos. Kinsta®. https://kinsta.com/es/blog/html-vs-html5/#:~:text=Como%20ya%20se%20ha%20dicho,Java%20Web%20Start%20y%20Flash.</li>
                    
                    </p>
                    <hr>
    
                    <div class="question">Preguntas Lab 3</div>
                    <hr>
                    <div class="question">Como ingeniero de software ¿cuál es tu recomendación sobre el uso de !important en un CSS? </div>
                    <hr>
                    <p>Yo lo utilizaría lo más mínimo posible para no generar confusión ni problemas para los navegadores. Es una buena herramienta para definir los estilos más importantes y que estos se queden definitivamente. Sin embargo muchos navegadores es posibles que no entiendan la especificación y lo brinquen para mostrar el siguiente estilo.</p>
                    <hr>
                    <div class="question">
                        Si se pone una imagen de fondo en una página HTML, ¿por qué debe escogerse con cuidado?
                    </div>
                    <hr>
                    <p>
                        Principalmente por el contraste que tenga con el resto de la pagina y la legibilidad del texto con esa imagen. Ademas de escoger una imagen con buenas dimensiones que cuide al mismo tiempo que no exceda demasiado el tamaño en mb.
                    </p>
                    <hr>
                    <div class="question">Como ingeniero de software, ¿cuál es tu recomendación al elegir las unidades de un propiedad de estilo entre %, px y pt?</div>
                    <hr>
                    <p>Existen dos tipos de medidas: las absolutas: que muestran el tamaño real y no son recomendables para utilizarse en pantalla ya que son de tamaño real, estas son pt (points) y px(pixeles). Y el otro tipo son tamaños relativos: Estos tamaños son versatiles para hacer escala con diferentes dispositivos ya que especifican una medida relativa. Una medida relativa en css es el uso de % . Así que recomiendo que para software eligan una medida que sea compatible con la mayoría de los navegadores y que sea relativa y ajustable dependiendo del dispositivo.</p>
                    <hr>
                    <div class="question">¿Por qué el uso de una versión minimizada del CSS mejora el rendimiento del sitio?</div>
                    <p>
                        Tomando en cuenta que al minimizar los elementos en codigo como los espacios en blanco y los archivos dentro de una pagina implica menos mb de tamaño y menos carga al servidor entonces podemos decir que mejora el rendimiento. Ya que en cuanto menor sea la cantidad de datos en el servidor , en el cache, y en la banda ancha, esto significa una mayor velocidad tanto en computadoras como en celulares.          </p>
                    <hr>
                    <div class="question">
                        Referencias:
                    </div>
                    <hr>
                    <p>
                        CSS units. (n.d.). https://www.w3schools.com/cssref/css_units.php
    
                        CSS!important Property. (n.d.). https://www.w3schools.com/css/css_important.asp
    
                        Nice, B. (2018a, September 21). The Ultimate Guide to CSS + Cheat Sheets 📑 - Level Up! - Medium. Medium. https://medium.com/level-up-web/the-ultimate-guide-to-css-103b0f883de3
    
                        Thomas, J. (n.d.). Web Design in 4 minutes. https://jgthms.com/web-design-in-4-minutes/
                    </p>
                    <hr>
                    <div class="question">Preguntas Lab 4</div> 
                    <hr>
                    <div class="question">¿Qué diferencias y semejanzas hay entre Java y JavaScript?</div>
                    <p>
                    Java es un tipo de lenguaje de programación que necesita de un compilador como C + +, y su enfoque está en el desarrollo de apps y videojuegos. 
                    Por otro lado, javascript es un lenguaje de programación que no necesita de un compilador sino por medio de scripts que son interpretados y ejecutados por el mismo navegador. 
                    En cuanto a semejanzas, los dos tienen sintaxis parecida a c. La forma en la que se declaran las variables y las funciones es similar. Además de que los dos pueden ser compatibles para navegadores, aunque Javascript es mucho más popular. 
                    </p>
                    <hr>
                    <div class="question">¿Qué métodos tiene el objeto Date? (Menciona al menos 5*)</div>
                    <hr>
                    <ul>
                        <li>getDate</li>
                        <li>getHours</li>
                        <li>getMinutes</li>
                        <li>getSeconds</li>
                        <li>getMilliseconds</li>
                    </ul>
                    <hr>
                    <div class="question">¿Qué métodos tienen los arreglos? (Menciona al menos 5*)</div>
                    <ul>
                        <li>arreglo.length</li>
                        <li>arreglo.push</li>
                        <li>arreglo[10] </li>
                        <li>join</li>
                        <li>indexOf</li>
                    </ul>
                    <hr>
                    <div class="question">¿Cómo se declara una variable con alcance local dentro de una función?</div>
                    <hr>
                    <p>Puede ser con var, ya que al declarar dentro de la función  solamente se podrá acceder por medio de esa función. Si se hace por fuera marca Reference Error. </p>
                    <hr>
                    <div class="question">¿Qué implicaciones tiene utilizar variables globales dentro de funciones?</div>
                    <hr>
                    <p>Puede llegar a ser confuso y tener comportamientos raros con la memoria, especialmente si se utiliza una variable global para satisfacer las necesidades de muchas funciones dentro del programa, y esta variable no se le asigna un nombre.  En cambio si se utiliza una variable local dentro de una función, es muy difícil confundirse aunque tengan el mismo nombre porque en la misma ejecución del programa nos podemos dar cuenta que la variable pertenece a una función específica del programa. </p>
                    <hr>
                    <div class="question">Referencias: </div>
                        <p>JavaScript Arrow Function. (n.d.). https://www.w3schools.com/js/js_arrow_function.asp</p>
                        <br>
                        <p>formula general. (n.d.). http://ceca.uaeh.edu.mx/algebra_lineal/2.1.html</p>
                        <br>
                        <p>Date.Now() - JavaScript | MDN. (2023, June 1). https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/now</p>
                        <br>
                        <p>Calcular cantidad de números negativos de un array en una función de JS. (n.d.). Stack Overflow En Español. https://es.stackoverflow.com/questions/484717/calcular-cantidad-de-n%C3%BAmeros-negativos-de-un-array-en-una-funci%C3%B3n-de-js</p>
                        <br>
                    <div class="question">Preguntas Lab 5:</div>
                    <hr>
                    <p>Material Design es un tipo de normativas de diseño para aplicaciones web que tiene como objetivo basarse en objetos reales, estudiar su composición y comportamiento con la luz y sombras y así mostrarle al usuario un diseño tangible. Y de alguna manera sencillo de usar, ya que el usuario con solamente ver el diseño podrá intuir la funcionalidad de cada uno de los objetos que componen la página o app. Este lenguaje de diseño lo empezó a utilizar y popularizar Google con las versiones de android. Pero ahora es un lenguaje muy universal y compatible con casi cualquier dispositivo.</p>
                    <div class="question">Referencia: </div> 
                    <p>Dairox. (2014). Material Design: El nuevo lenguaje de diseño hecho por Google. Xataka México. https://www.xataka.com.mx/aplicaciones/material-design-el-nuevo-lenguaje-de-diseno-hecho-por-google</p>
                    <hr>
                    <div class="question">Lab 4: Ejercicio 1</div>
                    <br>
                    <ul id="ejercicio1"></ul>
                    <hr>
                    <div class="question">Lab 4: Ejercicio 2</div>
                    <br>
                    <div id="ejercicio2"></div>
                    <br>
                    <div id="ejercicio2.1"></div>
                    <hr>
                    <div class="question">Lab4: ejercicio3</div>
                    <br>
                    <div id="ejercicio3.1"></div>
                    <div id="ejercicio3.2"></div>
                    <div id="ejercicio3.3"></div>
                    <hr>
                    <div class="question">Lab4: ejercicio4</div>
                    <br>
                    <div id="ejercicio4"></div>
                    <hr>
                    <div class="question">Lab4: ejercicio5</div>
                    <br>
                    <div id="ejercicio5"></div>
                    <hr>
                    <div class="question">Lab4: ejercicio6</div>
                    <br>
                    <p>Problema: crear una funcion que calcule la duración de un álbum (en este caso el álbum 13 de Blur). La duración de cada canción es almacenada en un objeto llamado album. Y la función regresa la duración y promedio</p>
                    <br>
                    <div id="ejercicio6"></div>
                    <br>
                    <hr>
                    <div class="question">Preguntas Lab 6</div>
                    <hr>
                    <div class="question">¿Por qué es una buena práctica usar JavaScript para checar que sean válidos los inputs de las formas antes de enviar los datos al servidor?</div>
                    <br>
                    <p>Principalmente ayuda a la experiencia del usuario, ya que se le da una retroalimentación de lo que está ingresando. Además evitas varias consultas y envíos al servidor porque corroboras que los datos ingresados sean los correctos. </p>
                    <hr>
                    <div class="question">¿Cómo puedes saltarte la seguridad de validaciones hechas con JavaScript?</div>
                    <br>
                    <p>Por medio del navegador, al ingresar a la ventana de inspeccionar se puede modificar el DOM.</p>
                    <hr>
                    <div class="question">Si te puedes saltar la seguridad de las validaciones de JavaScript, entonces ¿por qué la primera pregunta dice que es una buena práctica?</div>
                    <br>
                    <p>Para que el usuario tenga una experiencia con la interfaz rápida, y no se tenga que esperar o ingresar a ver si hay algún problema con el servidor. Tan solo con haber ingresado un campo incorrectamente, tendrá una retroalimentación instantpanea por medio de javascript. </p>
                    <hr>
                    <div class="question">Pregunta Lab 11 Express</div>
                    <hr>
                    <p>El archivo package.json tiene información útil del proyecto de npm.
                        Puedes incluír documentación como el nombre del proyecto, archivos, versión. Al igual que
                        puedes incluír la información del repositorio
                        en el que se almacena el proyecto. 
                        Incluye metadatos como el nombre, la versión y las dependencias. Que esta última es 
                        información necesaria para las bibliotecas que se instalan con npm-install.
                        Así que es muy útil para gestionar los proyectos de npm.</p>
                    <hr>
                    <div class="question">Pregunta Lab 12 HTML dinámico</div>
                    <hr>
                    <p>Q: ¿Qué otros templating engines existen para node?
    
                        A: Pug, Haml, hbs, Squirrelly, Eta, combyne, Nunjucks, marko, whiskers, Blade, rivets-server, Liquidjs, twing, sprightly
                        html-express-js. 
                        
                        Template engines. (n.d.). https://expressjs.com/en/resources/template-engines.html</p>
                    <hr>
                    <div class="question">Preguntas Lab 13 MVC</div>
                    <hr>
                    <div class="question">¿Qué beneficios encuentras en el estilo MVC?</div>
                    <br>
                    <p>El principal beneficio de utilizar esta forma de arquitectura es que podemos trabajar en un ambiente más
                     manejable, en el que los errores pueden ser atendidos rápidamente cuando se organiza y separa en archivos dependiendo de su funcionalidad. Además, con esta técnica, se pueden usar capas que optimisan la forma en la que se atienden las peticiones mientras que se maneja de manera más entendible el aspecto gráfico para el cliente. Y por último, esta técninca es beneficiosa para la seguridad de la página, ya que al hacer que las rutas estén separadas se hacen más mantenibles.</p>
                    <br>
                    <div class="question">¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</div>
                    <br>
                    <p>Si, que no se pueden manipular el DOM con comandos de event listener. O bueno, al menos yo no pude ya que se necesita de otra tecnica arquitectónica que responda al lado del client server.</p>
                    <div class="question">Preguntas Lab 17</div>
                    <hr>
                    <div class="question">¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?</div>
                    <br>
                    <p>Es definitivamente más legible y escalable. Y no corres el riesgo de que otra parte de la aplicación haga una query que interfiera con otra query. Además de que puedes implementar la lógica donde corresponde.</p>
                    <hr>
                    <div class="question">¿Qué es SQL injection y cómo se puede prevenir?</div>
                    <br>
                    <p>Es una vulnerabilidad que se da cuando se inserta código malicioso en una query. Como drop tables por ejemplo. Y la manera de prevenirlo es poniendo signos de interrogación en donde se insertaran los datos por el usuario para que el sistema sepa que ahí es donde se leeran los datos pero al mismo tiempo cuidas la parte de la vulnerabilidad de la página al cerrar esos "puertos". </p>

    
                </article> 
            </div>
        </section>



                </div>
            </article>
        </div>
    </section>
</body>
<%- include('../includes/labs.foot.ejs') %>
</html>