p {
    color: #333;
    font-size-adjust: 24;

}





#Soundtracks:hover {
    color: #B87333;
}


#velvet:hover {
    color: rgb(230, 227, 227);
}

#sabbath:hover {
    color: rgba(113, 9, 165, 0.877);
}

#siamesed:hover {
    color: orange;
}

#HR:hover {
    color: pink
}

#doublen:hover {
    color: greenyellow;
}

#bm:hover {
    color: red;
}

