p {
    color: orange;
    font-size-adjust: 24;

}


.contacto {
    text-emphasis: filled rgb(38, 0, 255);

}



#Soundtracks:hover {
    color: #B87333;
}


#velvet:hover {
    color: rgb(0, 0, 0);
}

#sabbath:hover {
    color: rgba(63, 3, 94, 0.133);
}


