<%- include('../includes/labs.head.ejs') %>
<h1 class="title">Bienvenido</h1>
<form action="/users/users.views.ejs" method="POST">
    <label for="username">Nombre de usuario:</label>
    <input id="username" name="username" class="input is-light" type="text" placeholder="Usuario">
    <br><br>
    <label for="password">Password:</label>
    <input id="password" name="password" class="input is-light" type="password" placeholder="Contraseña">
    <br><br>
    <input class="button is-light" type="submit" value="Entrar">
</form>
<%- include('../includes/labs.foot.ejs') %>